#headline {
    font-size: 50px;
    font-family: Raleway;
    font-weight:600;
    color: black;
    position: absolute;
    top: 200px;
    left: 415px;
}
#text1 {
    position: absolute;
    top: 300px;
    left: 190px;
    font-size: 30px;
    font-family: Montserrat;
    color: black;
    text-align: center;
}
#enterButton {
    font-size: 16px;
    border-radius: 12px;
    background-color: #1d81df;
    color: white;
    padding: 18px 65px;
    border: none;
    position: absolute;
    top: 700px;
    left: 415px;
    transition: all 0.2s ease;
}
#enterButton:hover{ 
    transform: scale(1.04);
}
#enterButton:active{
    background-color:#1776cf;
}
body {
  background-image: url('../images/Gemini_Generated_Image_ojju5yojju5yojju.png'); 
  background-repeat: no-repeat;   
  background-size: cover;         
    
}
