#headline {
    font-size: 75px;
    font-family: 'Baloo Bhai 2', regular;
    font-weight:800;
    color: black;
    position: absolute;
    top: 19vh;
    left: 24vw;
}
#text1 {
    position: absolute;
    top: 35vh;
    left: 10.3vw;
    font-size: 30px;
    font-family: 'Inter', regular;
    color: black;
    text-align: center;
}
#enterButton {
    font-size: 16px;
    border-radius: 12px;
    background-color: #0158FF;
    color: white;
    padding: 18px 65px;
    border: none;
    position: absolute;
    top: 70vh;
    left: 26vw;
    transition: all 0.2s ease;
}
#enterButton:hover{ 
    transform: scale(1.04);
}
#enterButton:active{
    background-color:#1776cf;
}
body {
  background-image: url('../images/background.png'); 
  background-repeat: no-repeat;   
  background-size: cover;         
    
}
#landing-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  padding-left: 200px; 
  height: 100vh;
}
