    .all{
        font-family: 'Inter';
        display: flex; 
        flex-direction: row;
        min-height: 100vh;
    }

    .content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        min-height: 100vh;
    }

    .subjects {
        display: flex;
        flex-direction: column;
        gap: 12vh;
        margin-top:7vh;
        align-items: center;
    }

    .subjects button:hover{ 
        transform: scale(1.04);
        box-shadow: 0 14px 15px rgba(0, 0, 0, 0.5);
    }

    .subjects button:active{
        background-color:#1776cf;
    }

    .subjects button {
        font-size: 24px;
        border: none;
        background-color: #0146C7;
        border-radius: 25px;
        transition: all 0.2s ease;
        color: white;
        width: 70vw;
        height: 10.5vh;
        box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.3); 
    }

    .header{
        display: flex;
        background-color: #A2B4D7;
        width: 100%;
        height: 70px;
        align-items: center;   
    }

    #mpname{
        color: #041A54;
        font-size: 30px;
        padding-left: 73px;
    }

    #aboutus {
        text-decoration: none; 
        font-size: 15px;
        margin-left: auto;
        padding-right: 80px;
        color: white;
        cursor: pointer;
    }
    #abouted {
        text-decoration: none; 
        font-size: 15px;
        padding-right: 45px;
        color: white;
        cursor: pointer;
    }

    #aboutus:hover, #abouted:hover {
        text-decoration: underline;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 20vw;
        border-right: 1px solid #000000
    }

    #logo {
        width: 5vw;
        height: auto;
        margin: 1vh 0.5vw;
    }

    #text2 {
        font-size: 18px;
        color: black;
        padding: 1vh 0.5vw;
    }

    #mainbutton {
        margin-top: 5vh;
    }

    .sbbuttons {
        background-color: #041A54;
        color: white;
        border: none;
        border-radius: 30px;
        transition: all 0.2s ease;
        font-size: 15px;
        margin: 1vh -6vw;
        width: 20vw;
        height: 5vh;
        padding-left: 4vw;
    }

    .sbbuttons:hover { 
        transform: scale(1.04);
    }

    #user {
        background-image: url("../images/user.png"); 
        background-size: cover;      
        background-repeat: no-repeat;
        background-position: center;
        color: white;               
        font-size: 15px;
        border: none;
        border-radius: 18px;
        width: 9vw;
        height: 4vh;
    }

    #backbtn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    font-family: 'Inter';
    font-size: 16px;
    color: #041A54;
    cursor: pointer;
    margin: 50vh 0vw 0 0;
    }

    .back-btn:hover {
    text-decoration: underline;
    }

    .icon {
    width: 40px;
    height: auto;
    }
    .insidebar {
        display: flex;
        flex-direction: column;
        gap: 2vh;   
        align-items: center;
        width: 20%;
    }
    .insidebar button {
        width: 15vw;
        height: auto;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .insidebar button:first-child {
    margin-top: 4vh;
    }

    .insidebar button img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        margin-bottom: 8px;
    }

    .insidebar button:hover img {
        transform: scale(1.03);
        transition: 0.2s;
    }

    .insidebar button span {
        font-size: 14px;
        font-weight: 600;
        color: #041A54;
        line-height: 1.2;
    }

    .inside {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .mainpl {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%
    }

    #player {
        width: 90%;
        height: 60vh;
        margin-top: 5vh;
        border: none;
        border-radius: 12px;
    }